# Arquivos de configuração e segredos
# Arquivos de configuração com senhas e chaves
config.yaml

# Ambiente Virtual do Python
# Ambientes virtuais do Python
venv/
*.venv
.venv/
env/
.env

# Cache do Python
# Arquivos de cache e compilados do Python
__pycache__/
*.pyc

# Arquivos do Streamlit
.streamlit/

# Arquivos de Documentação
DOCUMENTATION.md
# Arquivos de sistema operacional
.DS_Store