pandas
numpy
streamlit
streamlit-authenticator
PyYAML
requests
plotly
# As bibliotecas abaixo são dependências que não precisam ser listadas
# explicitamente, mas mantê-las não causa problemas.
# matplotlib, seaborn, urllib3, tenacity